.footer-container {
    width: 100%;
    background-color: rgba(223, 223, 223, 0.3);
    box-shadow: 1px 1px 2px 1px rgba(70, 70, 70, 0.5);
}

.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 130rem;
    padding: 2rem;
    margin: 10px auto;
    justify-items: center;
    align-items: center;
}

.footer-logo {
    margin-bottom: 2rem;
    font-weight: 900;
}

.list-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    line-height: 1.2;
}

.list-item {
    font-size: 1.6rem;
    color: rgba(70, 70, 70, 0.5);
    font-weight: 600;
}

.footer-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(70, 70, 70, 0.9);
}
