.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1px;
    box-shadow: 0 2px 3px -1px black;
    height: 65px;
}

.nav-logo {
    display: flex;
    align-items:  center;
    gap: 10px;
}

.nav-logo img {
    width: 50px;
    margin-left: -80px;
}

.nav-logo p {
    color: #171717;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu {
    margin-left: -500px;
    display: flex; 
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

.nav-menu li { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 70%;
    height: 2px;
    border-radius: 10px;
    background: rgb(148, 145, 145);
}

.nav-cart-login {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-cart-login button {
    width: 80px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 75px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-cart-login button:active {
    background: #e6e4e4;
}

.nav-cart-login img {
    width: 50px;
    cursor: pointer;
}

.cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -50px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.link {
    text-decoration: none;
    color: #000000;
}