.reviewsbox {
    margin: 120px 500px;
}

.reviews-nav {
    display: flex;
}

.reviews-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid black;
    border-bottom: 0;
}

.reviewsbox-reviews {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid black;
    padding: 48px;
    padding-bottom: 70px;
}

.reviewsbox-reviews-item {
    border: 1px solid grey;
}

.username {
    padding: 5px;
    font-style: italic;
    font-size: 18px;
}

.comment {
    padding: 10px;
    font-size: 16px;
    color: rgb(63, 61, 61);
}

.reviewbox-addreview {
    margin-top: 80px;
}

.reviewbox-addreview button {
    padding: 20px 40px;
    height: 60px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}

.reviewbox-addreview textarea {
    width: 600px;
    height: 100px;
    max-lines: 5;
}

.editButton {
    color:green;
    margin-left: 2px;
    margin-bottom: 2px;
}
.deleteButton {
    color: red;
    margin-left: 2px;
    margin-bottom: 2px;
}