* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;

  border-top: 10px solid #00b8d8;
}

.container {
  width: 80%;
  margin: 0 auto; /* this means the margin on left and right should always be the same */
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
  display: block;
}

.main-header h1 {
  display: inline-block;
  margin-right: 20px;
}

nav {
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
}

.post-header {
  margin-bottom: 20px;
}

.author-image {
  height: 40px;
  width: 40px;
  display: block;
}

.post-image {
  width: 50%;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #00b8d8;
  border-bottom: 5px solid #00b8d8;
  padding: 25px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #00b8d8;
}

h1::first-letter {
  font-style: normal;
  margin-right: 10px;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

h2::after {
  content: "TOP";
  position: absolute;
  right: -60px;
  top: -5px;
  font-size: 16px;
  background-color: #ffe70e;
  display: inline-block;
  padding: 5px 10px;
  color: #444;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* Styling links with pseudo-classes*/

a:link {
  color: #00b8d8;
  text-decoration: none;
  margin: 5px;
}

a:visited {
  color: #00b8d8;
}

a:hover {
  color: orangered;
}

/* a:active {
  background-color: black;
  font-style: italic;
} REMOVED, cause its not really nice looking :D */
